                html {
                    font-size: 82.5%;
                    overflow-x: hidden;
                    scroll-padding-top: 7rem;
                    scroll-behavior: smooth;
                }
                
                body {
                    overflow-x: hidden;
                    font-family: Sans-Serif;
                    margin: 0;
                }
                
                .menu-container {
                    position: sticky;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    background: #000000;
                    color: #cdcdcd;
                    padding: 20px;
                    z-index: 1;
                    -webkit-user-select: none;
                    user-select: none;
                    box-sizing: border-box;
                }
                
                .menu-logo {
                    line-height: 0;
                    margin: 0 20px;
                }
                
                .menu-logo img {
                    max-height: 40px;
                    max-width: 100px;
                    flex-shrink: 0;
                }
                
                .menu-container a {
                    text-decoration: none;
                    color: #000000;
                    transition: color 0.3s ease;
                }
                
                .menu-container a:hover {
                    color: #70C7C3;
                }
                
                .menu-container input {
                    display: block;
                    width: 35px;
                    height: 25px;
                    margin: 0;
                    position: absolute;
                    cursor: pointer;
                    opacity: 0;
                    /* hide this */
                    z-index: 2;
                    /* and place it over the hamburger */
                    -webkit-touch-callout: none;
                }
                /* Burger menu */
                
                .menu-container span {
                    display: block;
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    position: relative;
                    background: #cdcdcd;
                    border-radius: 3px;
                    z-index: 1;
                    transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
                }
                
                .menu-container span:first-child {
                    transform-origin: 0% 0%;
                }
                
                .menu-container span:nth-child(3) {
                    transform-origin: 0% 100%;
                }
                
                .menu-container input:checked~span {
                    opacity: 1;
                    transform: rotate(45deg) translate(3px, -1px);
                    background: #000000;
                }
                
                .menu-container input:checked~span:nth-child(4) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                
                .menu-container input:checked~span:nth-child(3) {
                    transform: rotate(-45deg) translate(-5px, 11px);
                }
                
                .menu ul {
                    list-style: none;
                }
                
                .menu li {
                    padding: 10px 0;
                    font-size: 22px;
                }
                /* mobile styles */
                
                @media only screen and (max-width: 768px) {
                    .menu-container {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                    .menu-logo {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    .menu-logo img {
                        max-height: 30px;
                    }
                    .menu {
                        position: absolute;
                        box-sizing: border-box;
                        width: 300px;
                        right: -300px;
                        top: 0;
                        margin: -20px;
                        padding: 75px 50px 50px;
                        background: #cdcdcd;
                        -webkit-font-smoothing: antialiased;
                        /* to stop flickering of text in safari */
                        transform-origin: 0% 0%;
                        transform: translateX(0%);
                        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
                    }
                    .menu-container input:checked~.menu {
                        transform: translateX(-100%);
                    }
                }
                /* desktop styles */
                
                @media (min-width: 768px) {
                    .menu-container {
                        width: 100%;
                    }
                    .menu-container a {
                        color: #cdcdcd;
                    }
                    .menu-container input {
                        display: none;
                    }
                    /* Burger menu */
                    .menu-container span {
                        display: none;
                    }
                    .menu {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                    .menu ul {
                        display: flex;
                        padding: 0;
                    }
                    .menu li {
                        padding: 0 20px;
                    }
                }
                /* background */
                
                path {
                    transform-origin: 50% 0%;
                }
                
                .background--custom {
                    background-color: #FFFFFF;
                    position: absolute;
                    width: 100vw;
                    height: 100vh;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
                
                @keyframes path0 {
                    0% {
                        transform: rotate(-20deg);
                    }
                    100% {
                        transform: rotate(20deg);
                    }
                }
                
                @keyframes path1 {
                    0% {
                        transform: rotate(20deg);
                    }
                    100% {
                        transform: rotate(-20deg);
                    }
                }
                
                @keyframes path2 {
                    0% {
                        transform: rotate(30deg);
                    }
                    100% {
                        transform: rotate(-30deg);
                    }
                }
                
                .wrap {
                    width: 70%;
                    margin: auto;
                    position: relative;
                    margin-bottom: 24rem;
                    margin-top: 8rem;
                }
                
                .area {
                    width: 100%;
                    height: 100%;
                }
                
                .stretch {
                    width: 100%;
                    height: 100%;
                }
                
                .display-position {
                    position: absolute;
                    top: 320px;
                    left: 150px;
                    color: #cdcdcd;
                    font-family: 'EB Garamond', serif;
                    font-size: larger;
                }
                
                .disph {
                    position: absolute;
                    top: 270px;
                    left: 150px;
                    color: #70C7C3;
                    font-family: 'Nunito', sans-serif;
                }
                
                p {
                    color: rgb(255, 255, 255);
                    font-size: larger;
                }
                
                .contact {
                    background-color: #545454;
                    padding: 15px;
                    max-width: 230px;
                    margin: 20px 20px;
                    max-height: 100px;
                }
                
                .icon {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    margin: 0;
                    vertical-align: middle;
                }
                
                .btn-group {
                    padding-left: 14rem;
                    bottom: 3.1rem;
                }
                
                @media only screen and (max-width:767px) {
                    .wrap {
                        width: 70%;
                        position: relative;
                        margin-bottom: 0rem;
                        margin-left: 2rem;
                        margin-top: -2rem;
                    }
                    .area {
                        width: 480%;
                        position: relative;
                        height: 380%;
                        right: 64rem;
                    }
                    .stretch {
                        width: 100%;
                        height: 100%;
                    }
                    .display-position {
                        position: absolute;
                        top: 410px;
                        margin-left: 3rem;
                        left: -15px;
                        color: #cdcdcd;
                        font-family: 'Hind Madurai', helvetica, arial, sans-serif;
                    }
                    .disph h1 {
                        position: absolute;
                        top: -25px;
                        margin-left: 15rem;
                        right: -10px;
                        color: #70C7C3;
                        font-family: 'Nunito', sans-serif;
                    }
                    p {
                        margin-right: 2rem;
                        color: rgb(255, 255, 255);
                        font-size: smaller;
                    }
                    .contact {
                        background-color: #545454;
                        padding: 15px;
                        max-width: 230px;
                        margin: 20px 20px;
                        max-height: 100px;
                        padding-bottom: 2rem;
                    }
                    .icon {
                        width: 16px;
                        height: 16px;
                        padding: 0;
                        margin: 0;
                        vertical-align: middle;
                    }
                    .btn-group {
                        padding-left: 12rem;
                        bottom: 3rem;
                    }
                }
                
                .display-position span {
                    font-family: 'Nunito', sans-serif;
                    color: #70C7C3;
                    font-size: larger;
                }